<section class="contact">
  <div class="container">
    <div class="head-title text-center">
      <app-head-star [title]="'contact section'" [bgColor]="'#2C3E50'" ></app-head-star>
    </div>
    <!-- <form class="w-50 mx-auto">
      <div class="mb-3">
        <label class="form-label" for="">username:</label>
        <input type="text" class="form-control border-0" placeholder="userName" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="">age:</label>
        <input type="text" class="form-control border-0" placeholder="userAge" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="">email:</label>
        <input type="text" class="form-control border-0" placeholder="userEmail" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="">password:</label>
        <input type="text" class="form-control border-0" placeholder="userPassword" />
      </div>
      <button class="btn">Send Message</button>
    </form> -->
    <form class="w-50 mx-auto">
      <div class="form-floating mb-3">
        <input type="text" class="form-control border-0" name="formId1" id="formId1" placeholder="username" />
        <label class="form-label" for="formId1">username:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control border-0" name="formId2" id="formId2" placeholder="userAge" />
        <label class="form-label" for="formId2">age:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control border-0" name="formId3" id="formId3" placeholder="userEmail" />
        <label class="form-label" for="formId3">email:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control border-0" name="formId4" id="formId4" placeholder="userPassword" />
        <label class="form-label" for="formId4">password:</label>
      </div>
      <button class="btn">Send Message</button>
    </form>
  </div>
</section>


