<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box text-center text-white">
          <h4 class="text-uppercase">location</h4>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box text-center text-white">
          <h4 class="text-uppercase">around the web</h4>
          <div class="footer-icons">
            <span class="footer-icon">
              <i class="fa-brands fa-facebook"></i>
            </span>
            <span class="footer-icon">
              <i class="fa-brands fa-twitter"></i>
            </span>
            <span class="footer-icon">
              <i class="fa-brands fa-linkedin"></i>
            </span>
            <span class="footer-icon">
              <i class="fa-solid fa-globe"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box text-center text-white">
          <h4 class="text-uppercase">about freelancer</h4>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<p class="copyright mb-0">Copyright © Your Website 2021</p>
